.ArticlesContainer{
  @apply w-screen h-screen bg-main-primary overflow-y-auto
  flex flex-col justify-center items-center min-h-screen;
  
  .Title{
    @apply text-5xl text-white 
    tracking-wider font-bold select-none p-2 pr-6
    flex items-center justify-end w-full h-[10%];
    @media(max-width: 768px){
      @apply text-xl;
    }
  }
  .Articles{
    @apply h-[90%] w-full bg-white p-8;
    .Container{
      @apply w-full h-full bg-transparent overflow-y-auto
      rounded-2xl border shadow-xl px-6;
      .ArticleCard{
        @apply w-full h-[180px] rounded-2xl my-6 
        px-6 flex items-center;
        background-color: rgba(0, 171, 85, 0.08);
        transition: 0.3s;
        &:hover{
          @apply shadow-xl;
          background-color: rgb(200, 250, 205);
        }
        .ArticlePicture{
          @apply rounded-md;
        }
        .ArticleTitle{
          @apply text-xl text-ellipsis;
        }
        .ArticleTime{
          @apply text-base;
        }
      }

    }
  }
}